<div class="menu">
  <div>
    <button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'unidades'}" (click)="select('unidades')">Unidades Prisionais</button>
    <button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'fornecedores'}" (click)="select('fornecedores')">Fornecedores</button>
    <button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'pavilhões'}" (click)="select('pavilhões')">Pavilhões</button>
    <button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'blocos'}" (click)="select('blocos')">Blocos</button>
    <button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'celas'}" (click)="select('celas')">Celas</button>
    <button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'prisioneiros'}" (click)="select('prisioneiros')">Prisioneiros</button>
    <!--<button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'familiares'}" (click)="select('familiares')">Familiares</button>-->
    <button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'servidores'}" (click)="select('servidores')">Servidores</button>
    <button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'penas'}" (click)="select('penas')">Penas</button>
    <button type="button" class="text-left btn btn-secondary btn-lg btn-block my-0" [ngClass]="{'active': active === 'cumprimento_penas'}" (click)="select('cumprimento_penas')">Em cumprimento</button>
  </div>
</div>
