<br>
<br>
<br>
<br>
<div *ngIf="showDetails">
  <div class="row mx-1">
    <div class="details" *ngIf="!addingItem; else newItem">
      <div class="card border-secondary" >  <!--align-self-center-->
        <div class="card-body pt-1">
            <div class="row justify-content-end">
                <button type="button" class="btn btn-outline-primary col-2 mr-1" (click)="setAddingItem(true)">Editar</button>
                <button type="button" class="btn btn-outline-warning" (click)="delete()">Deletar</button>
            </div>
          <div [ngSwitch]="type">
            <div *ngSwitchCase="'unidades'" class="card-text">
              <h5 class="bold inline">Código: </h5><h5 class="inline">{{ unidade.codigo }}</h5><br>
              <h5 class="bold inline">Nome: </h5><h5 class="inline">{{ unidade.nome }}</h5><br>
              <h5 class="bold inline">Logradouro: </h5><h5 class="inline">{{ unidade.logradouro }}</h5><br>
              <h5 class="bold inline">Tipo logradouro: </h5><h5 class="inline">{{ unidade.tipo_logradouro }}</h5><br>
              <h5 class="bold inline">Número: </h5><h5 class="inline">{{ unidade.num }}</h5><br>
              <h5 class="bold inline">Bairro: </h5><h5 class="inline">{{ unidade.bairro }}</h5><br>
              <h5 class="bold inline">Cidade: </h5><h5 class="inline">{{ unidade.cidade }}</h5><br>
              <h5 class="bold inline">UF: </h5><h5 class="inline">{{ unidade.uf }}</h5><br>
              <h5 class="bold inline">CEP: </h5><h5 class="inline">{{ unidade.cep }}</h5><br>
              <!-- <h5 class="bold link" (click)="pavilhaoByUnidade()">Pavilhões</h5> -->
            </div> 
            <div *ngSwitchCase="'fornecedores'">
              <h5 class="bold inline">CNPJ: </h5><h5 class="inline">{{ fornecedor.cnpj }}</h5><br>
              <h5 class="bold inline">Nome da empresa: </h5><h5 class="inline">{{ fornecedor.nome_empresa }}</h5><br>
              <h5 class="bold inline">Item efertado: </h5><h5 class="inline">{{ fornecedor.item }}</h5><br>
            </div>
            <div *ngSwitchCase="'pavilhões'">
              <h5 class="bold inline">Número: </h5><h5 class="inline">{{ pavilhao.numero }}</h5><br>
              <h5 class="bold inline">Função: </h5><h5 class="inline">{{ pavilhao.funcao }}</h5><br>
              <h5 class="bold inline">Unidade: </h5><h5 class="inline">{{ pavilhao.nome_unidade+', código '+pavilhao.codigo_unidade }}</h5><br>
              <h5 class="bold inline">Cidade: </h5><h5 class="inline">{{ pavilhao.cidade }}</h5><br>
              <h5 class="bold inline">UF: </h5><h5 class="inline">{{ pavilhao.uf }}</h5><br>
              <h5 class="bold inline">CEP: </h5><h5 class="inline">{{ pavilhao.cep }}</h5><br>
            </div>
            <div *ngSwitchCase="'blocos'">
              <h5 class="bold inline">Número: </h5><h5 class="inline">{{ bloco.numero }}</h5><br>
              <h5 class="bold inline">Andar: </h5><h5 class="inline">{{ bloco.andar }}</h5><br>
              <h5 class="bold inline">Pavilhão (número): </h5><h5 class="inline">{{ bloco.fk_numero_pavilhao }}</h5><br>
              <h5 class="bold inline">Unidade: </h5><h5 class="inline">{{ bloco.nome_unidade+', código '+bloco.codigo_unidade }}</h5><br>
              <h5 class="bold inline">Cidade: </h5><h5 class="inline">{{ bloco.cidade }}</h5><br>
              <h5 class="bold inline">UF: </h5><h5 class="inline">{{ bloco.uf }}</h5><br>
              <h5 class="bold inline">CEP: </h5><h5 class="inline">{{ bloco.cep }}</h5><br>
              <!-- <h5 class="bold link" (click)="celasByBlocos()">Celas</h5> -->
            </div>
            <div *ngSwitchCase="'celas'">
              <h5 class="bold inline">Código: </h5><h5 class="inline">{{ cela.codigo }}</h5><br>
              <h5 class="bold inline">Quantidade máxima: </h5><h5 class="inline">{{ cela.quantidade_max }}</h5><br>
              <h5 class="bold inline">Tipo: </h5><h5 class="inline">{{ cela.tipo }}</h5><br>
              <!-- <h5 class="bold link" (click)="prisioneirosByCela()">Prisioneiros</h5> -->
            </div>
            <div *ngSwitchCase="'prisioneiros'">
              <h5 class="bold inline">CPF: </h5><h5 class="inline">{{ prisioneiro.cpf }}</h5><br>
              <h5 class="bold inline">Data de nascimento: </h5><h5 class="inline">{{ prisioneiro.data_nascimento }}</h5><br>
              <h5 class="bold inline">Observações médicas: </h5><h5 class="inline">{{ prisioneiro.observacoes_medicas }}</h5><br>
              <h5 class="bold inline">Nome: </h5><h5 class="inline">{{ prisioneiro.nome }}</h5><br>
              <h5 class="bold inline">RG: </h5><h5 class="inline">{{ prisioneiro.rg }}</h5><br>
              <!--
              <h5 class="bold inline">Unidade Prisional: </h5><h5 class="inline">{{ prisioneiro.nome_unidade+', código '+prisioneiro.codigo_unidade }}</h5><br>
              <h5 class="bold inline">Pavilhão: </h5><h5 class="inline">{{ prisioneiro.pavilhao }}</h5><br>
              <h5 class="bold inline">Bloco: </h5><h5 class="inline">{{ prisioneiro.bloco+', andar '+prisioneiro.andar }}</h5><br>
              -->
              <h5 class="bold inline">Cela: </h5><h5 class="inline">{{ prisioneiro.cela_codigo }}</h5><br>
            </div>
            <div *ngSwitchCase="'servidores'">
              <h5 class="bold inline">CPF: </h5><h5 class="inline">{{ servidor.cpf }}</h5><br>
              <h5 class="bold inline">Data de nascimento: </h5><h5 class="inline">{{ servidor.data_nascimento }}</h5><br>
              <h5 class="bold inline">Cargo: </h5><h5 class="inline">{{ servidor.cargo }}</h5><br>
              <h5 class="bold inline">Nome: </h5><h5 class="inline">{{ servidor.nome }}</h5><br>
              <h5 class="bold inline">Salário: </h5><h5 class="inline">{{ servidor.salario }}</h5><br>
              <h5 class="bold inline">Pavilhão: </h5><h5 class="inline">{{ servidor.numero_pavilhao }}</h5><br>
              <h5 class="bold inline">Unidade Prisional: </h5><h5 class="inline">{{ servidor.nome_unidade+', código '+servidor.codigo_unidade }}</h5><br>
            </div>
            <div *ngSwitchCase="'familiares'">
              <h5 class="bold inline">CPF: </h5><h5 class="inline">{{ familiar.cpf_familiar }}</h5><br>
              <h5 class="bold inline">Data de nascimento: </h5><h5 class="inline">{{ familiar.data_nascimento_familiar }}</h5><br>
              <h5 class="bold inline">RG: </h5><h5 class="inline">{{ familiar.rg_familiar }}</h5><br>
              <h5 class="bold inline">Nome: </h5><h5 class="inline">{{ familiar.nome_familiar }}</h5><br>
              <h5 class="bold inline">Parentesco: </h5><h5 class="inline">{{ familiar.parentesco_familiar }}</h5><br>
              <h5 class="bold inline">CPF do prisioneiro: </h5><h5 class="inline">{{ familiar.cpf_prisioneiro }}</h5><br>
            </div>
            <div *ngSwitchCase="'penas'">
              <h5 class="bold inline">Código penal: </h5><h5 class="inline">{{ pena.codigo_penal }}</h5><br>
              <h5 class="bold inline">Área judicial: </h5><h5 class="inline">{{ pena.area_penal }}</h5><br>
              <h5 class="bold inline">Descrição: </h5><h5 class="inline">{{ pena.descricao }}</h5><br>
              <h5 class="bold inline">Duração mínima: </h5><h5 class="inline">{{ pena.pena_minima }} {{ pena.pena_unidade }}</h5><br>
              <h5 class="bold inline">Duração máxima: </h5><h5 class="inline">{{ pena.pena_maxima }} {{ pena.pena_unidade }}</h5><br>
            </div>
            <div *ngSwitchCase="'cumprimento_penas'">
              <h5 class="bold inline">Código penal: </h5><h5 class="inline">{{ cumprimento_penas.codigo }}</h5><br>
              <h5 class="bold inline">Área judicial: </h5><h5 class="inline">{{ cumprimento_penas.area_penal }}</h5><br>
              <h5 class="bold inline">Descrição: </h5><h5 class="inline">{{ cumprimento_penas.descricao }}</h5><br>
              <h5 class="bold inline">Duração início: </h5><h5 class="inline">{{ cumprimento_penas.data_inicio }}</h5><br>
              <h5 class="bold inline">Duração fim: </h5><h5 class="inline">{{ cumprimento_penas.data_termino }}</h5><br>
            </div>
          </div>
          <!--
          <h5 class="card-text" *ngFor="let key of keys;index as i">
            {{ key + ': ' + values[i]}}
          </h5>
          -->
        </div>
      </div>  
    </div>
    
    <ng-template #newItem>
      <div class="details">
          <div class="card bg-dark text-white"> <!--align-self-center-->
            <div class="card-body pt-1">
              <form [ngSwitch]="type">
                <fieldset *ngSwitchCase="'unidades'">
                  <div class="form-group">
                    <label class="m-0">Código</label>
                    <input type="text" class="form-control m-0" [(ngModel)]="unidade.codigo" name="unidadeCodigo">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Nome</label>
                    <input type="text" class="form-control m-0" [(ngModel)]="unidade.nome" name="unidadeNome">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Logradouro</label>
                    <input type="text" class="form-control" [(ngModel)]="unidade.logradouro" name="unidadeRua">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Tipo logradouro</label>
                    <input type="text" class="form-control" [(ngModel)]="unidade.tipo_logradouro" name="unidadeLogradouro">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Número</label>
                    <input type="text" class="form-control" [(ngModel)]="unidade.num" name="unidadeNumero">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Bairro</label>
                    <input type="text" class="form-control" [(ngModel)]="unidade.bairro" name="unidadeBairro">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Cidade</label>
                    <input type="text" class="form-control" [(ngModel)]="unidade.cidade" name="unidadeCidade">
                  </div>
                  <div class="form-group">
                    <label class="m-0">UF</label>
                    <input type="text" class="form-control" [(ngModel)]="unidade.uf" name="unidadeUF">
                  </div>
                  <div class="form-group">
                    <label class="m-0">CEP</label>
                    <input type="text" class="form-control" [(ngModel)]="unidade.cep" name="unidadeCep">
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
                <fieldset *ngSwitchCase="'fornecedores'">
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">CNPJ</label>
                    <input type="text" class="form-control" [(ngModel)]="fornecedor.cnpj" name="fornecedorCnpj">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Nome da empresa</label>
                    <input type="text" class="form-control" [(ngModel)]="fornecedor.nome_empresa" name="fornecedorEmpresa">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Item efertado</label>
                    <input type="text" class="form-control" [(ngModel)]="fornecedor.item" name="fornecedorOfertado">
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
                <fieldset *ngSwitchCase="'pavilhões'">
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">Número</label>
                    <input type="text" class="form-control" [(ngModel)]="pavilhao.numero" name="pavilhaoNumero">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Função</label>
                    <input type="text" class="form-control" [(ngModel)]="pavilhao.funcao" name="pavilhaoFuncao">
                  </div>
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">Unidade</label>
                    <select class="form-control" 
                      [(ngModel)]="pavilhao.fk_unid_prisional"
                      name="pavilhaoUnidade">
                        <option *ngFor="let unidade of combo">{{ unidade.codigo }}</option>
                    </select>
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
                <fieldset *ngSwitchCase="'blocos'">
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">Número</label>
                    <input type="text" class="form-control" [(ngModel)]="bloco.numero" name="blocoNumero">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Andar</label>
                    <input type="text" class="form-control" [(ngModel)]="bloco.andar" name="blocoAndar">
                  </div>
                  <div class="form-group" *ngIf="new">
                      <label class="m-0">Pavilhão</label>
                      <select class="form-control" 
                        [(ngModel)]="bloco.chave"
                        name="blocoPavilhao">
                          <option *ngFor="let pavilhao of combo">{{ pavilhao.numero+', unidade '+pavilhao.fk_unid_prisional }}</option>
                      </select>
                    </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
                <fieldset *ngSwitchCase="'celas'">
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">Código</label>
                    <input type="text" class="form-control" [(ngModel)]="cela.codigo" name="celaCodigo">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Quantidade máxima</label>
                    <input type="text" class="form-control" [(ngModel)]="cela.quantidade_max" name="celaMax">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Tipo</label>
                    <input type="text" class="form-control" [(ngModel)]="cela.tipo" name="celaTipo">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Código Unidade</label>
                    <input type="text" class="form-control" [(ngModel)]="cela.codigo_unidade" name="celaUnidade">
                  </div>
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">Bloco</label>
                    <input type="text" class="form-control" [(ngModel)]="cela.fk_numero_bloco" name="celaBloco">
                  </div>
                  <div class="form-group" *ngIf="new">
                      <label class="m-0">Pavilhão</label>
                      <input type="text" class="form-control" [(ngModel)]="cela.fk_numero_pavilhao" name="celaPavilhao">
                    </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
                <fieldset *ngSwitchCase="'prisioneiros'">
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">CPF</label>
                    <input type="text" class="form-control" [(ngModel)]="prisioneiro.cpf" name="prisioneiroCpf">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Data de nascimento</label>
                    <input type="date" class="form-control" [(ngModel)]="prisioneiro.data_nascimento" name="prisioneiroData">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Observações médicas</label>
                    <input type="text" class="form-control" [(ngModel)]="prisioneiro.observacoes_medicas[0]" name="prisioneiroObs">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Nome</label>
                    <input type="text" class="form-control" [(ngModel)]="prisioneiro.nome" name="prisioneiroNome">
                  </div>
                  <div class="form-group">
                    <label class="m-0">RG</label>
                    <input type="text" class="form-control" [(ngModel)]="prisioneiro.rg" name="prisioneiroRg">
                  </div>
                  
                  <div class="form-group">
                    <label class="m-0">Cela</label>
                    <select class="form-control" 
                    [(ngModel)]="prisioneiro.fk_cela"
                    name="prisioneiroCela">
                      <option *ngFor="let cela of combo">{{ cela.codigo }}</option>
                    </select>
                  </div>
                  <!--
                  <div class="form-group">
                    <p class="m-0">Penas</p>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" 
                        type="checkbox"
                        checked="" 
                        [(ngModel)]="prisioneiro.pena"
                        name="prisioneiroPena">
                        Option one is this and that—be sure to include why it's great
                      </label>
                    </div>
                  </div>
                  -->
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
                <fieldset *ngSwitchCase="'servidores'">
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">CPF</label>
                    <input type="text" class="form-control" [(ngModel)]="servidor.cpf" name="servidoresCpf">
                  </div>
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">RG</label>
                    <input type="text" class="form-control" [(ngModel)]="servidor.rg" name="servidoresRg">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Data de nascimento</label>
                    <input type="date" class="form-control" [(ngModel)]="servidor.data_nascimento" name="servidoresData">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Cargo</label>
                    <input type="text" class="form-control" [(ngModel)]="servidor.cargo" name="servidoresCargo">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Nome</label>
                    <input type="text" class="form-control" [(ngModel)]="servidor.nome" name="servidoresNome">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Salário</label>
                    <input type="text" class="form-control" [(ngModel)]="servidor.salario" name="servidoresSalario">
                  </div>
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">Pavilhão</label>
                    <select class="form-control" 
                      [(ngModel)]="servidor.chave"
                      name="servidorPavilhao">
                        <option *ngFor="let pavilhao of combo">{{ pavilhao.numero+', unidade '+pavilhao.fk_unid_prisional }}</option>
                    </select>
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
                <fieldset *ngSwitchCase="'familiares'">
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">CPF</label>
                    <input type="text" class="form-control" [(ngModel)]="familiar.cpf_familiar" name="familiarCpf">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Data de nascimento</label>
                    <input type="date" class="form-control" [(ngModel)]="familiar.data_nascimento_familiar" name="familiarData">
                  </div>
                  <div class="form-group">
                    <label class="m-0">RG</label>
                    <input type="text" class="form-control"  [(ngModel)]="familiar.rg_familiar" name="familiarRg">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Nome</label>
                    <input type="text" class="form-control"  [(ngModel)]="familiar.nome_familiar" name="familiarNome">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Parentesco</label>
                    <input type="text" class="form-control"  [(ngModel)]="familiar.parentesco_familiar" name="familiarParentesco">
                  </div>
                  <div class="form-group" *ngIf="new"> <!--não é combo porque prisioneiros são muitos-->
                    <label class="m-0">CPF do prisioneiro</label>
                    <input type="text" class="form-control"  [(ngModel)]="familiar.cpf_prisioneiro" name="familiarCpfPrisioneiro">
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
                <fieldset *ngSwitchCase="'penas'">
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">Codigo penal</label>
                    <input type="text" class="form-control" [(ngModel)]="pena.codigo_penal" name="penaCodigoPenal">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Área judicial</label>
                    <input type="text" class="form-control" [(ngModel)]="pena.area_penal" name="penaAreaJudicial">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Descrição</label>
                    <input type="text" class="form-control" [(ngModel)]="pena.descricao" name="penaDescricao">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Duração mínima</label>
                    <input type="text" class="form-control" [(ngModel)]="pena.pena_minima" name="penaDuracaoMin">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Duração máxima</label>
                    <input type="text" class="form-control" [(ngModel)]="pena.pena_maxima" name="penaDuracaoMax">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Unidade da duração</label>
                    <select class="form-control"
                      [(ngModel)]="pena.pena_unidade"
                      name="servidorPavilhao">
                      <option value="dias">Dias</option>
                      <option value="meses">Meses</option>
                      <option value="anos">Anos</option>
                    </select>
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
                <fieldset *ngSwitchCase="'cumprimento_penas'">
                  <div class="form-group" *ngIf="new">
                    <label class="m-0">Codigo</label>
                    <input type="text" class="form-control" [(ngModel)]="cumprimento_penas.codigo" name="cumprimentoCodigo">
                  </div>
                  <div class="form-group">
                    <label class="m-0">CPF prisioneiro</label>
                    <input type="text" class="form-control" [(ngModel)]="cumprimento_penas.prisioneiro" name="cumprimentoPrisioneiro">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Código Pena</label>
                    <input type="text" class="form-control" [(ngModel)]="cumprimento_penas.crime" name="cumprimentoCrime">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Data início</label>
                    <input type="date" class="form-control" [(ngModel)]="cumprimento_penas.data_inicio" name="cumprimentoDataInicio">
                  </div>
                  <div class="form-group">
                    <label class="m-0">Data fim</label>
                    <input type="date" class="form-control" [(ngModel)]="cumprimento_penas.data_termino" name="cumprimentoDataFim">
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="submit" class="btn btn-outline-success col-4 mr-1" (click)="post()">Concluir</button>
                      <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
      </div>
      
    </ng-template>
  </div>
</div>